#authentication{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  size: border-box;
  background-color: rgb(72, 65, 65);
}

#authentication-box{
  width: 75vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  padding: 20px;
  size: border-box;
  box-shadow: 2px 2px 2px 1px lightslategray;
  border-radius: 15%;
  background-color: #435C7D ;

}

#authentication h2{
  color: white;

}

#authentication-box input{
  margin: 20px;
  height: 35px;
  width: 80%;
  border-radius: 50px;

}

#authentication-box button{
  width: 40%;
  border-radius: 50px;
  background-color: #91ACC7 ;
  
}

button:hover{
  transform: scale(1.1);
}