#header-section{
  border: 1px #938EC5 solid;
  width: 100vw;
  background-color: #435C7D;
  /* background: rgb(34,27,47);
  background: linear-gradient(20deg, rgba(34,27,47,1) 5%, rgba(147,142,197,1) 65%, rgba(241,241,243,1) 100%); */
}

#header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
}

#header input{
  width: 60%;
  border-radius: 50px;
  background-color: white;
  margin-bottom: 10px;
}

#website-name{
  display: flex;
  justify-content: center;
}
 
#hamburger-icon{
  margin-top: 5px;
  margin-left: 3px;
  position: relative;
  width: 50px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

#hamburger-icon::before, #hamburger-icon::after{
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background-color: white;
  border-radius: 5px;
  transition: all .5s ease-in-out;
}

#hamburger-icon::before{
  transform: translateY(-16px);
}

#hamburger-icon::after{
  transform: translateY(16px);
}


#cart{
  width: 50px;
  height: 30px;
  margin-right: 3px;
  border-radius: 50px;
  background-color: #91ACC7;
}

/* ANIMATION */
#hamburger-icon.open {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
#hamburger-icon.open::before {
  transform: rotate(45deg) translate(35px, -35px);
}
#hamburger-icon.open::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
button:hover{
  transform: scale(1.1);
}