#pop-out-menu{
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column ;
  align-items: center;
  background-color: #435C7D;
  opacity: .9;
  position: absolute;
  transition: all;
}

.links {
  margin-top: 40px;
  color: white;
}